.container-md {
  padding: 10px;
  margin:auto;
}

.sidebar {
  width: 120px;
  height: 1200px;
  padding:12px;
  border: 1px solid lightgray;
  margin:auto;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.well {
  text-align:center;
}

.img-a {
  height: 500px;
  width: 375px;
}

img {
  height: 100px;
  length: 100px;
}

h2 {
  font-size: 12px;
}

p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

